*{
    margin: 0;
    padding: 0.5em;
}

body{
    background-color: #212025;
    padding-left: 2em;
    color: white;
}

.news{
    color: white;
    margin-left: 40em;
    margin-top: 5em;
}

h1{
    color: aqua;
    text-align: center;
}